@model E_Mikro.Models.ViewModel.HomeViewModel
@using E_Mikro.Models.Contentful;
@{
    Layout = Paths.Views.Layout.Main;
    ViewBag.Title = Model.Page.Title;
    ViewBag.MetaKeywords = Model.Page.MetaKeywords;
    ViewBag.MetaDescription = Model.Page.MetaDescription;
    int spotSliderIndex = 0;
}

<section class="homeBanner">
    <div class="homeSlider owl-carousel owl-theme">
        @foreach (var item in Model.Slider.Where(p => p.Type == "Showcase"))
        {
            <div class="item">
                @if (!String.IsNullOrEmpty(item.Link))
                {
                    <a href="@item.Link" target="@item.LinkTarget">
                        <picture>
                            @if (item.MobileImage != null)
                            {
                                <source media="(max-width: 680px)" srcset="@(item.MobileImage.Fields.File.Url)">
                            }
                            <img src="@(Html.Raw(item.Image.Fields.File.Url))" />
                        </picture>
                    </a>
                }
                else
                {
                    <picture>
                        @if (item.MobileImage != null)
                        {
                            <source media="(max-width: 680px)" srcset="@(item.MobileImage.Fields.File.Url)">
                        }
                        <img src="@(Html.Raw(item.Image.Fields.File.Url))" />
                    </picture>
                }
            </div>
        }
    </div>
</section>
<!--
<section class="new-home-product-area">
    <div class="content" style="background-image: url('https://www.mikro.com.tr/images/default-source/logos/akademikro-back.png?sfvrsn=31b04c74_0')">
        <div class="text-area">
            <div class="logo"><img src="https://www.mikro.com.tr/images/default-source/logoler/akademikro-logo.png?sfvrsn=b6207f76_0" /></div>
            <div class="text">
                Akademikro ile Eğitim Her Yerde! Mikro Yazılım’ın İş Ortakları için her platformdan ulaşılabilecek şekilde geliştirdiği online eğitim, sınav ve sertifikasyon programı!
                <a class="btn">
                    Detay
                    <svg class="svg-inline--fa fa-arrow-right fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                        <path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="content" style="background-image: url('https://www.mikro.com.tr/images/default-source/logos/akademikro-back.png?sfvrsn=31b04c74_0')">
        <div class="text-area">
            <div class="logo"><img src="https://www.mikro.com.tr/images/default-source/logoler/akademikro-logo.png?sfvrsn=b6207f76_0" /></div>
            <div class="text">
                Akademikro ile Eğitim Her Yerde! Mikro Yazılım’ın İş Ortakları için her platformdan ulaşılabilecek şekilde geliştirdiği online eğitim, sınav ve sertifikasyon programı!
                <a class="btn">
                    Detay
                    <svg class="svg-inline--fa fa-arrow-right fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                        <path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="content" style="background-image: url('https://www.mikro.com.tr/images/default-source/logos/akademikro-back.png?sfvrsn=31b04c74_0')">
        <div class="text-area">
            <div class="logo"><img src="https://www.mikro.com.tr/images/default-source/logoler/akademikro-logo.png?sfvrsn=b6207f76_0" /></div>
            <div class="text">
                Akademikro ile Eğitim Her Yerde! Mikro Yazılım’ın İş Ortakları için her platformdan ulaşılabilecek şekilde geliştirdiği online eğitim, sınav ve sertifikasyon programı!
                <a class="btn">
                    Detay
                    <svg class="svg-inline--fa fa-arrow-right fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                        <path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="content" style="background-image: url('https://www.mikro.com.tr/images/default-source/logos/akademikro-back.png?sfvrsn=31b04c74_0')">
        <div class="text-area">
            <div class="logo"><img src="https://www.mikro.com.tr/images/default-source/logoler/akademikro-logo.png?sfvrsn=b6207f76_0" /></div>
            <div class="text">
                Akademikro ile Eğitim Her Yerde! Mikro Yazılım’ın İş Ortakları için her platformdan ulaşılabilecek şekilde geliştirdiği online eğitim, sınav ve sertifikasyon programı!
                <a class="btn">
                    Detay
                    <svg class="svg-inline--fa fa-arrow-right fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                        <path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
    -->
<section class="homeProduct">
    <h2>TÜM ÜRÜNLER</h2>
    <div class="homeProductSlider owl-carousel owl-theme">
        @foreach (var item in Model.Products)
        {
            <div class="item">
                <a class="icon" lightbox="@(item.Url)"><img src="@(item.Logo.Fields.File.Url)"></a>
                @if (!String.IsNullOrEmpty(item.Summary))
                {
                    <div class="text">
                        @(Html.Raw(item.Summary))
                    </div>
                }
                <a href="@(item.Url)" class="btn purple">DETAY <img src="assets/images/icon/btn-arrow-white.svg"></a>
            </div>
        }
    </div>
    <div class="productLightBox">
        <div class="border">
            @foreach (var item in Model.Products)
            {
                <div class="content @(item.Url)">
                    <img class="close" src="assets/images/icon/close.svg">
                    <img class="icon" src="@(item.Logo.Fields.File.Url)" alt="">
                    @if (!String.IsNullOrEmpty(item.Summary))
                    {
                        <div class="text">
                            @(Html.Raw(item.Summary))
                        </div>
                    }
                    <a href="@(item.Url)" class="btn purple">DETAY</a>
                </div>
            }
        </div>
    </div>
</section>
<section class="homePlatfrom">
    <div class="content">
        <h2>HER PLATFORMDAN ERİŞİN</h2>
        <div class="text">
            <p>
                Her işletim sisteminde desteklenen e-Mikro servislerine ister <b>PC</b>, ister <b>Tablet</b>, ister <b>Telefonunuzdan</b> erişin
                ve firmanızı kolayca entegre edin.
            </p>
            <p>Üstelik hiçbir ek ücret ödemeden!</p>
        </div>
        <a href="https://customer.mikro.com.tr/user/register" target="_blank" class="btn white leftArrow"><b>Kayıt Olun</b> <img src="assets/images/icon/btn-arrow-black.svg"></a>
    </div>
</section>
<!--
<section class="new-why-emikro">
    <h2>NEDEN E-MİKRO?</h2>
    <div class="content">
        <div class="sub-text">Türkiye'nin en çok tercih edilen dijital dönüşüm çözüm ortağı eLogo’nun tüm yazılımlarla entegre olabilen altyapısı, uzman kadrosu ve müşteri odaklı hizmet anlayışı ile dijital dönüşüm süreçlerinizi kolaylaştırın.</div>
    </div>
    <div class="list">
        <div class="left">
            <div class="content">
                <div class="icon"><img src="https://www.elogo.com.tr/media/1179/lider.png" /></div>
                <div class="text-area">
                    <div class="title">başlık</div>
                    <div class="text">Sektöründe öncü birçok şirket, dijital dönüşümde özel entegratör olarak eLogo'yu tercih ediyor.</div>
                </div>
            </div>

            <div class="content">
                <div class="icon"><img src="https://www.elogo.com.tr/media/1179/lider.png" /></div>
                <div class="text-area">
                    <div class="title">başlık</div>
                    <div class="text">Sektöründe öncü birçok şirket, dijital dönüşümde özel entegratör olarak eLogo'yu tercih ediyor.</div>
                </div>
            </div>

            <div class="content">
                <div class="icon"><img src="https://www.elogo.com.tr/media/1179/lider.png" /></div>
                <div class="text-area">
                    <div class="title">başlık</div>
                    <div class="text">Sektöründe öncü birçok şirket, dijital dönüşümde özel entegratör olarak eLogo'yu tercih ediyor.</div>
                </div>
            </div>

        </div>
        <div class="center"><img src="https://cdn4.vectorstock.com/i/1000x1000/31/58/business-hand-with-blank-screen-desktop-computer-vector-16313158.jpg" /></div>
        <div class="right">
            <div class="content">
                <div class="icon"><img src="https://www.elogo.com.tr/media/1179/lider.png" /></div>
                <div class="text-area">
                    <div class="title">başlık</div>
                    <div class="text">Sektöründe öncü birçok şirket, dijital dönüşümde özel entegratör olarak eLogo'yu tercih ediyor.</div>
                </div>
            </div>

            <div class="content">
                <div class="icon"><img src="https://www.elogo.com.tr/media/1179/lider.png" /></div>
                <div class="text-area">
                    <div class="title">başlık</div>
                    <div class="text">Sektöründe öncü birçok şirket, dijital dönüşümde özel entegratör olarak eLogo'yu tercih ediyor.</div>
                </div>
            </div>

            <div class="content">
                <div class="icon"><img src="https://www.elogo.com.tr/media/1179/lider.png" /></div>
                <div class="text-area">
                    <div class="title">başlık</div>
                    <div class="text">Sektöründe öncü birçok şirket, dijital dönüşümde özel entegratör olarak eLogo'yu tercih ediyor.</div>
                </div>
            </div>
        </div>
    </div>
</section>
    -->
<!--
<section class="homeAbout">
    <h2>NEDEN E-MİKRO?</h2>
    <div class="content">
        <div class="mobile">
            <div class="homeAboutSlider owl-carousel owl-theme ">
                @foreach (var item in Model.TripleCTA)
                {
                    <div class="item">
                        <a @(!String.IsNullOrEmpty(item.Url) ? Html.Raw(string.Format("href=\"{0}\"", item.Url)) : Html.Raw(""))>
                            <img src="@item.Logo.Fields.File.Url" />
                            <div class="text">@Html.Raw(item.Name)</div>
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="desktop">
            @foreach (var item in Model.TripleCTA)
            {
                <a @(!String.IsNullOrEmpty(item.Url) ? Html.Raw(string.Format("href=\"{0}\"", item.Url)) : Html.Raw(""))>
                    <img src="@item.Logo.Fields.File.Url">
                    <div class="text">@Html.Raw(item.Name)</div>
                </a>
            }
        </div>
    </div>
</section>
--->
@if (Model.Slider.Count(p => p.Type == "Spot") > 0)
{
    <section class="homeChange">
        <div class="textArea">
            <h2>UÇTAN UCA e-DÖNÜŞÜM</h2>
            <div class="imgArea">
                @foreach (var item in Model.Slider.Where(p => p.Type == "Spot"))
                {
                    <img class="img0@(spotSliderIndex + 1)@(spotSliderIndex == 0 ? " active" : "")" src="/assets/images/bg/homeAbout-0@(spotSliderIndex + 1).svg">
                    spotSliderIndex++;
                }
                <img class="img04 " src="/assets/images/bg/homeAbout-01.svg">
            </div>
            @{ spotSliderIndex = 0; }
            <div class="text">
                @foreach (var item in Model.Slider.Where(p => p.Type == "Spot"))
                {
                    <p class="@(spotSliderIndex == 0 ? "active" : "")">
                        @Html.Raw(item.SpotText)
                    </p>
                    spotSliderIndex++;
                }
            </div>
        </div>
    </section>
}
@*<section class="homeOther">
        <div class="content">
            <img class="left" src="assets/images/bg/computer.svg" alt="">
            <div class="right">
                <h2>DAHA FAZLA BİLGİ ALIN</h2>
                <div class="text">
                    @{
                        var otherSites = (ViewBag.Menu as List<Menu>).FirstOrDefault(p => p.WebLinks != null && p.WebLinks.Count > 0);
                        if (otherSites != null)
                        {
                            foreach (var item in otherSites.WebLinks)
                            {
                                <a href="@(item)" target="_blank">@Html.Raw(item.Replace("https://", "").Replace("http://", ""))</a>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </section>*@
<section class="homeContact">
    @Html.Partial(Paths.Views.HomeContactUs, new E_Mikro.Models.Contentful.ContactForm())
</section>
@Html.Partial(Paths.Views.Partial.ProductRequestForm, new E_Mikro.Models.Contentful.ProductRequestForm())
